*{
    margin : 0;
    padding : 0;
}

.box{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.box h1{
    text-align: center;
}

.inpBox{
    text-align: center;
}

#inp{
    height: 25px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

.inpBox button{
    height: 35px;
    padding: 5px;
}
